* {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}
.title {
  background-image: linear-gradient(to right, #94b9ff, #cdffd8);
  width: 96%;
  margin: 0px auto;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  color: #004aad;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 4px;
  border: 2px solid black;
}
body {
  background-image: linear-gradient(to right, #cdffd8, #94b9ff);
}

.left {
  display: flex;
  flex-direction: column;
}
.answertext {
  margin-top: 30px;
  text-align: center;
}
.answertext input {
  margin: auto;
  width: 252px;
  height: 60px;
  text-align: right;
  font-size: 1.5rem;
  padding: 10px;
  background-color: #cdffd8;
  color: #004aad;
}
.keys {
  margin: auto;
  width: 276px;
}
.rows {
  display: flex;
  justify-content: space-around;
}
.left button {
  flex-basis: 25%;
  background-color: #94b9ff;
  color: #004aad;
  font-weight: 900;
  font-size: 3rem;
}
.left button:hover{
  cursor: pointer;
  opacity: 0.9;
}

.right {
  text-align: center;
  width: 276px;
  height: 400px;
  margin: 30px auto;
}
.right p {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-family: "Orbitron", sans-serif;
  color: #004aad;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
  background-color: #94b9ff;
  width: 270px;
  height: 70px;
  padding: 5px;
  text-decoration: underline;
  margin: auto;
  border: 2px solid black;
}
.right input {
  margin: auto;
  width: 260px;
  height: 60px;
  text-align: right;
  font-size: 1.5rem;
  padding: 10px;
  border: 2px solid black;
  border-top: 0px;
  background-color: #cdffd8;
  color: #004aad;
}

@media (min-width: 780px) {
  .title {
    width: 100%;
  }
  .main {
    display: flex;
    justify-content: center;
  }
  .left {
    margin: auto;
  }
  .right {
    margin: auto;
  }
  .right p {
    margin-top: 50px;
  }
}
